html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	#content .wrap-content{margin-top: 10px; margin-bottom: 10px;}
	
	.block01 {padding:10px 30px}
	.block01 h2{font-size:20px; line-height:15px;}
	.block01 p{font-size:15px; text-align:justify; line-height:15px; margin-top:20px}
	
	.block02 {margin:0px 10px;}
	.block02 h2{font-size:15px; line-height:20px;}
	.block02 p{font-size:10px;}
	
	.block_h {margin:0px 10px; padding: 10px 0px 0px 0px;}
	.block_h h2{text-align:center; font-size:20px; line-height:15px;}

	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
	
}

@media only screen and (max-width: 767px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	header {background: #eb705e; margin-bottom:100px;}
	header #logo{position:absolute; top: 35px; padding:5px; height: auto;}

	nav .wrap-nav{position:relative; height: 40px; background: #eb705e;}
	
	/* -------------------------------------------- */
	/* ------------------Featured------------------ */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	#content .wrap-content{margin-top: 10px; margin-bottom: 10px;}
	
	.block01 {padding:5px 30px}
	.block01 h2{font-size:20px; line-height:15px;}
	.block01 p{font-size:15px; text-align:justify; line-height:15px; margin-top:20px}
	
	.block02 {margin:0px 10px;}
	.block02 h2{font-size:15px; line-height:20px;}
	.block02 p{font-size:10px;}
	
	.block_h {margin:0px 10px; padding: 5px 0px 0px 0px;}
	.block_h h2{text-align:center; font-size:20px; line-height:15px;}

	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	.copyright{font-size: 8px; text-align:center;; background:#eb705e; padding:10px 0px;color:#ffffff; line-height:15px;}

	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (min-width: 620px) and (max-width: 767px) {	
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	#content .wrap-content{margin-top: 10px; margin-bottom: 10px;}
	
	.block01 {padding:5px 30px}
	.block01 h2{font-size:20px; line-height:15px;}
	.block01 p{font-size:15px; text-align:justify; line-height:15px; margin-top:20px}
	
	.block02 {margin:0px 10px;}
	.block02 h2{font-size:15px; line-height:20px;}
	.block02 p{font-size:10px;}
	
	.block_h {margin:0px 10px; padding: 5px 0px 0px 0px;}
	.block_h h2{text-align:center; font-size:20px; line-height:15px;}
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	.copyright{font-size: 8px; text-align:center;; background:#eb705e; padding:10px 0px;color:#ffffff; line-height:15px;}
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (min-width: 480px) and (max-width: 619px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	#content .wrap-content{margin-top: 10px; margin-bottom: 10px;}
	
	.block01 {padding:5px 20px}
	.block01 h2{font-size:20px; line-height:15px;}
	.block01 p{font-size:15px; text-align:justify; line-height:15px; margin-top:20px}
	
	.block02 {margin:0px 10px;}
	.block02 h2{font-size:15px; line-height:20px;}
	.block02 p{font-size:13px;}
	
	.block_h {margin:0px 10px; padding: 5px 0px 0px 0px;}
	.block_h h2{text-align:center; font-size:20px; line-height:15px;}
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	.copyright{font-size: 8px; text-align:center;; background:#eb705e; padding:10px 0px;color:#ffffff; line-height:15px;}
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (max-width: 479px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	header {background: #eb705e; margin-bottom:100px;}
	header #logo{position:absolute; top: 35px; padding:5px; height: auto;}

	nav .wrap-nav {position:relative; height: 37px; left:0px; top:0px;}
	.menu{display:none;}
	.minimenu{display:block;}
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	#content .wrap-content{margin-top: 10px; margin-bottom: 10px;}
	
	.block01 {padding:5px 0px}
	.block01 h2{font-size:20px; line-height:15px;}
	.block01 p{font-size:15px; text-align:justify; line-height:15px; margin-top:20px}
	
	.block02 {margin:0px 10px;}
	.block02 h2{font-size:15px; line-height:20px;}
	.block02 p{font-size:13px;}
	
	.block_h {margin:0px 10px; padding: 5px 0px 0px 0px;}
	.block_h h2{text-align:center; font-size:20px; line-height:15px;}
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	.copyright{font-size: 10px; text-align:center;; background:#eb705e; padding:10px 0px;color:#ffffff; line-height:13px;}
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}