body {font-family: Arial;background-color: #AAA;}

/* container */

#container_body {
	background-color: #AAA;
	width: 955px;
	margin: 0px auto; 
	float: none;}
	
/* main */

div#header {
	width: 600px;
	height: 100px; 
	padding:0px 0px 10px 350px;
	 }

div#info {
	width: 255px;
	height: 90px; 
	padding:0px 50px 0px 0px;
	font-size:12px;
	float: left; }

div#menu {
	width: 855px;
	height: 40px; 
	padding: 0px 50px 10px 50px; 
	clear: both;}
	
div#content {
	width: 830px;
	height: 410px; 
	padding:0px 0px 0px 60px;  }
		
div#infocontent {
	width: 830px;
	padding:10px 0px 0px 182px;  }

div#infotitle {
	width: 590px;
	background-color: #777;
	color: #FFF;
    font-size: 15px;
	padding: 5px 0px 5px 10px;  }

div#splitleft {
	width: 330px;
	height: 410px; 
	padding: 30px 0px 0px 100px;
	float: left; }

div#splitright {
	width: 300px;
	height: 410px; 
	padding: 30px 0px 0px 10px;
	float: left;
	text-align: justify;
	line-height: 150%;
	color: #888;  }
	
div#content2 {
	width: 830px;
	height: 100px; 
	padding:0px 0px 0px 250px;  }
	
div#wrap {
	display: table; }

div#cell {
	display: table-cell;
	vertical-align: middle; }

div#footer { 
	clear: both;
    font-size: 12px;
	text-align: center;
    padding: 15px;
    color: #AAA; }
	
/* Nagivation Menu */

#menu1 {
	margin:0;
	padding: 0px 0px 0px 150px; 
	list-style: none; }

#menu1 a { 
	width: 118px;
	padding: 10px 10px;
	text-decoration: none;
	text-transform: none;
	text-align:center;
	display: block; } 

/* Nagivation Menu Tabs */

#menu1 .m1 { 
	margin:0;
	padding:2px;
	font-weight: bold;
	font-size: 17px;
	float: left; }
	
#menu1 .m1 a { 
	color: #fff; 
	background-color: #eb705e; } 
	
#menu1 .m1 a:hover { 
	color: #777; 
	background-color: #eee363; }

/* Nagivation Menu Current Tab */

#menu1 .now { 
	border-bottom: #fff solid 0px;}
	
#menu1 .now a { 
	color: #777; 
	background-color: #eee363; }

/* Nagivation Menu 2nd-level List */

#menu1 .m1 ul { 
	display: none;
	position: absolute;
	list-style: none;
	top: 26px; left: 0;
	border-top: #eee solid 1px;
	z-index: 100; }

/* Nagivation Menu Items in 2nd-level List */

#menu1 .m2 { margin: 0; padding: 0; }

#menu1 .m2 a { 
	padding: 3px 10px;
	width: 100px;
	color: #eee;
	background: #999;
	border: #eee solid 1px; }

#menu1 .m2 a:hover { 
	border: #f90 solid 1px; }

#menu1 li:hover ul { 
	display: block; }

/* Caption Style */

.captionOrange, .captionBlack
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.captionOrange
{
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.6);
}

.captionBlack
{
    font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}

a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
    color: #ffffff;
    text-decoration: none;
}

a.captionOrange:hover
{
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}

.bricon
{
    background: url(./img/browser-icons.png);
}



	
a:link {color:#FFF;}
a:visited {color:#FFF; text-decoration: none;}
a:hover {color:#CCC;}
a:active {color:#FFF;}