body {font-family: Arial;background-color: #AAA;}

/* container */

div#container_head { 
	background-image: url(./graphics/container1.png);
	width: 955px;
	height: 30px;
	margin: 0 auto; }
	
div#container_footer { 
	background-image: url(./graphics/container2.png);
	width: 955px;
	height: 30px;
	margin: 0 auto; 
	clear: both;}

#container_body {
	background-image: url(./graphics/container3.png);
	width: 955px;
	margin: 0 auto; 
	float: none;
	clear: both; }
	
/* main */

div#header {
	width: 600px;
	height: 90px; 
	padding:0px 0px 0px 50px;
	float: left;
	 }
	
div#info {
	width: 255px;
	height: 90px; 
	padding:0px 50px 0px 0px;
	font-size:12px;
	float: left; }

div#menu {
	width: 855px;
	height: 40px; 
	padding: 0px 50px 10px 50px; 
	clear: both;}
	
div#content {
	width: 830px;
	height: 490px; 
	padding:0px 0px 0px 60px;  }
	
div#content2 {
	width: 830px;
	height: 100px; 
	padding:0px 0px 0px 250px;  }
	
div#wrap {
	display: table; }

div#cell {
	display: table-cell;
	vertical-align: middle; }

div#footer { 
	clear: both;
    font-size: 12px;
	text-align: center;
    padding: 15px;
    color: #666; }
	
/* Nagivation Menu */

#menu1 {
	margin:0;
	padding: 0; 
	list-style: none; }

#menu1 a { 
	width: 118px;
	padding: 10px 10px;
	text-decoration: none;
	text-transform: uppercase;
	text-align:center;
	display: block; } 

/* Nagivation Menu Tabs */

#menu1 .m1 { 
	margin:0;
	padding:2px;
	font-weight: bold;
	font-size: 17px;
	float: left; }
	
#menu1 .m1 a { 
	color: #fff; 
	background-color: #e2b11c; } 
	
#menu1 .m1 a:hover { 
	color: #fff; 
	background-color: #8d6d0b; }

/* Nagivation Menu Current Tab */

#menu1 .now { 
	border-bottom: #fff solid 0px;}
	
#menu1 .now a { 
	color: #fff; 
	background-color: #8d6d0b; }

/* Nagivation Menu 2nd-level List */

#menu1 .m1 ul { 
	display: none;
	position: absolute;
	list-style: none;
	top: 26px; left: 0;
	border-top: #eee solid 1px;
	z-index: 100; }

/* Nagivation Menu Items in 2nd-level List */

#menu1 .m2 { margin: 0; padding: 0; }

#menu1 .m2 a { 
	padding: 3px 10px;
	width: 100px;
	color: #eee;
	background: #999;
	border: #eee solid 1px; }

#menu1 .m2 a:hover { 
	border: #f90 solid 1px; }

#menu1 li:hover ul { 
	display: block; }

/* Sub-Menu */
#menu2 {
	float:right;
	margin:0;
	padding: 0; 
	list-style: none; }

#menu2 a { 
	width: 60px;
	padding: 5px 5px;
	text-decoration: none;
	text-transform: uppercase;
	text-align:center;
	display: block; } 

/* Sub-Menu Tabs */
#menu2 .m1 { 
	margin:0;
	padding:2px;
	font-weight: bold;
	font-size: 12px;
	float: left; }
	
#menu2 .m1 a { 
	color: #eee; 
	background-color: #666; } 
	
#menu2 .m1 a:hover { 
	color: #666; 
	background-color: #DDD; }

/* Sub-Menu Current Tab */
#menu2 .now { 
	border-bottom: #fff solid 1px;}
	
#menu2 .now a { 
	color: #666; 
	background-color: #DDD; }

	
a:link {color:#000;}
a:visited {color:#000;}
a:hover {color:#AAA;}
a:active {color:#000;}